/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #ecf9ff;
}

/*body {*/
/*    color: #272727;*/
/*    !*font-family: 'Quicksand', serif;*!*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    letter-spacing: 0;*/
/*    padding: 1rem;*/
/*}*/

.main {
    max-width: 1200px;
    margin: 0 auto;
}
h1 {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    font-family: "Courier New", monospace;
}
/** {*/
/*    font-family: Times New Roman!important;*/
/*}*/
/*h2 {*/
/*    font-size: 33px;*/
/*    font-weight: 500;*/
/*    font-family: Times New Roman!important;*/
/*}*/
/*img {*/
/*    !*height: auto;*!*/
/*    !*max-width: 100%;*!*/
/*    height: 200px;*/
/*    width: 400px;*/
/*    vertical-align: middle;*/
/*}*/

.btn {
    /*color: #ffffff;*/
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /*background: transparent;*/
}

.btn:hover {
    /*background-color: rgba(255, 255, 255, 0.12);*/
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 0.5rem;
    /*background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);*/
}

.card_title {
    /*color: #ffffff;*/
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
    text-align: center;
    /*font-family: SVN-Gilroy!important;*/

}
.time {
    margin-top: 10px;
    text-align: right;
    color: #999;
    font-size: 16px;
}
.time1 {
    margin-top: 4px;
    text-align: right;
    color: #999;
    font-size: 13px;
}
.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}
.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

.showContent {
    line-height: 1em;
    height: auto;
}
label {
    display: block;
    font-weight: bold;
    color: #333;
}
.title-news{
    color: #00833e;
    font-size: 25px;
    font-weight: 700;
}
textarea {
    width: 100%;
    padding: 10px;
    height: 200px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}
.err-class{
    color: red;
}
.title-other {
    margin-bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #00833e;
    padding: 5px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.main-content {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    background: #fff;
    padding: 15px;
}
.main-news-other {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    margin-top: 30px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}
.list-news-other {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fff;
    padding: 0 15px;
}
.image {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    min-width: 70px;
    height: 70px;
    overflow: hidden;
}
.other-item .content {
    padding-left: 10px;
    width: calc(100% - 70px);
}
.title {
    -webkit-transition: all .4s ease-in-out;
    -o-transition: .4s ease-in-out all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    transition: all .4s ease-in-out;
    overflow: hidden;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 0;
}
.imgDetail {
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}
/* Pageable.css */

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.pagination-button.active {
    background-color: #007bff;
    color: #fff;
    border: none;
}
